<Client>
  <EnableLog>1</EnableLog>
  <Server>
    <ServerPort>6000</ServerPort>
    <ServerAddress>10.102.22.38</ServerAddress>
  </Server>
  <AutoLogin>
    <remember>0</remember>
    <UserName>b</UserName>
    <Password>Prova1234</Password>
  </AutoLogin>
  <Security>
    <path>Security/PrivateKey</path>
    <backup>Security/Backup/PrivateKey</backup>
    <serverPubKeyPath>Security/ServerPublicKey.pem</serverPubKeyPath>
    <parametersDH>Security/ParametersDH</parametersDH>
  </Security>
</Client>
