<Client>
  <EnableLog>1</EnableLog>
  <Server>
    <ServerPort>6000</ServerPort>
    <ServerAddress>127.0.0.1</ServerAddress>
  </Server>
  <AutoLogin>
    <remember>0</remember>
    <UserName>a</UserName>
    <Password>a</Password>
  </AutoLogin>
  <Security>
    <path>Security/PrivateKey.pem</path>
    <backup>Security/Backup/PrivateKey.pem</backup>
    <serverPubKeyPath>Security/ServerPublicKey.pem</serverPubKeyPath>
  </Security>
</Client>
